
<style>
    



/* things to do css cart  */

.attraction-container1{
    width: 337px;
height: 462px;

    background-color:#FFFFFF;
    box-shadow: 0px 3px 6px #2C518D1A;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
   
}
.attraction-body1{
    height: 100%;
    max-width:100%;
    display: flex;
    flex-direction: column;
    padding-top: 9.82px ;
    padding-right:10.71px;
    padding-left:8.92px;
    padding-bottom: 11.82px;
    
}
.header1{
    width: 225px;
    max-height: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    gap: 5px;
   

}
.gallery-part1{
    width: 225px;
    height: 201px;
    display: flex;
    flex-direction: column;
    
}
.gallery-image1{
  width: 100%;
  max-height: calc(100% - 37px); ;
}
.gallery-image1 img{
    width: 319px;
    height: 164px;
    background: transparent url('img/Screenshot 2023-12-14 at 3.25.55 PM.png') 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
}
.gallery-name1{
    display: flex;
    flex-direction: column;
    
    width:100%;
    height: 100%;
    justify-content: center;
    
}
.gallery-name1 span{
  font-size: 21px;font-family: sans-serif;
  color: #004783;
} 
.text-part1{
    
    font-size: 14px;
    color:#004783;
    text-align: center;
    width: 289px;
height: 100px;
letter-spacing: 0px;
color: #004783;
opacity: 1;
font-family: sans-serif;
}
#map_map{
    position: absolute;
    z-index: 1000;
    left: 33rem;
    top: 79rem;
    /* top: ; */
}

#main_things_do{
    display: grid;
    grid-template-columns: repeat(2,10rem);
    column-gap: 30rem;
    margin-left: 9.1rem;
row-gap: 2rem;
    
}
#row1{
display: flex;
flex-direction: column;
border: 2px solid yellow;
}
#main_thing_do>div:nth-child(3){
    display: flex;
    flex-direction: column;
    }
#chips_all{
    display: flex;
    gap: 1rem;
}
.chips{
    width: 113px;
height: 30px;
/* UI Properties */
background: #DEF0FF 0% 0% no-repeat padding-box;
border-radius: 15px;
opacity: 1;
display: flex;
justify-content: center;
place-items: center;
font-size: 12px;
font-family: sans-serif;
}
.chips2{
    width: 93px;
height: 30px;
background: #DEF0FF 0% 0% no-repeat padding-box;
border-radius: 15px;
opacity: 1;
display: flex;
justify-content: center;
place-items: center;
font-size: 12px;
font-family: sans-serif;
}
.chips3{
    width: 74px;
height: 30px;
background: #DEF0FF 0% 0% no-repeat padding-box;
border-radius: 15px;
opacity: 1;
display: flex;
justify-content: center;
place-items: center;
font-size: 12px;
font-family: sans-serif;
}
.footer1{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: end;
    align-items: end;
}
.distance1{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    justify-content: end;
}

.distance-km1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 55px; /* Set a fixed width */
}

.distance-km1 span {
    color: #004783;
    font-size: 22px;
    font-weight: 400;
}

.distance-text1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 58px; 
}

.distance-text1 span {
    color: #004783;
    font-size: 10px;
}
</style>
<div class="attraction-container1">
    <div class="attraction-body1">
      <div class="header1">
        <div class="gallery-part1">
          <div class="gallery-image1">
            <img src="	https://cdn.pixabay.com/photo/2014/04/17/14/27/dubai-326543_1280.jpg" alt="">
          </div>
          <div class="gallery-name1">
            <span>Dubai Mall</span>
          </div>
        </div>
        <div class="text-part1">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam…
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi eveniet itaque eat
        </div>
      </div>
      <div
      id="chips_all"
      >
        <div
        class="chips"
        >
        Sightseeing 
        </div>
        <div
        class="chips2"
        >
          Shopping
        </div>
        <div
        class="chips3"
        >
    family 
        </div>
      </div>
      <div class="footer1">
        <div class="distance1">
          <div class="distance-km1">
            <span>1.1Km</span>
          </div>
          <div class="distance-text1">
            <span>From resort</span>
          </div>
        </div>
      </div>
    </div>
   
  </div>